// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'dashboard';
.page {
    overflow: hidden;
    min-height: 100vh;
    &-background {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
    }
}

.navbar {
    z-index: 99;
    position: absolute !important;
    top: 0;
    right: 0;
    height: 60px;
    background-color: transparent;
}

.pink {
    background-color: #FF58CF !important;
}