// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Pages
@import 'login';
.page {
    height: calc(100vh - 60px);
    overflow: hidden;
}

.navbar {
    height: 60px;
}