.dashboard {
    &-container {
        @media only screen and (max-width: 992px) {
            padding: 60px 0 0 0;
        }
        @media only screen and (min-width: 1300px) {
            padding: 0 60px !important;
        }
    }
    &-item {
        height: 80vh;
        background: rgba(255, 255, 255, 0.8);
        border: 4px solid white;
        @media only screen and (max-width: 992px) {
            margin-bottom: 60px;
        }
    }
    &-livestream {
        &-iframe {
            &-container {
                border: 4px solid white;
            }
        }
    }
    &-timetable {
        &-item {
            &-15 {
                height: 25px;
            }
            &-45 {
                height: 75px;
            }
            &-60 {
                height: 100px;
            }
            &-90 {
                height: 150px;
            }
            &-bg {
                &-artist {
                    background-color: #FF58CF;
                }
                &-activity {
                    background-color: #0700AD;
                    color: white;
                }
            }
        }
    }
}